<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral" />
  </configSections>

  <dataConfiguration defaultDatabase="BookCheckINOUTDBConnection" />

  <connectionStrings>
    <!--<add name="BookCheckINOUTDBConnection" connectionString="data source=10.86.3.250;initial catalog=BookCheckInCheckOut;User ID=sa;Password=1qaz!QAZ" providerName="System.Data.SqlClient" />-->
    <add name="BookCheckINOUTDBConnection" connectionString="data source=(local);initial catalog=BookCheckInCheckOut;integrated security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
    
      <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

        <!-- Holidays must be in the format dd-mm, should be delimited by |  -->
        <add key="PublicHolidays" value="05-02|23-03|01-05|14-08|25-12" />
        
        <!--  Official weekends should be lower case delimited by | -->
        <add key="Weekends" value="friday|saturday" />

        <!-- Default returns days which business allow -->
        <add key="DefaultReturnDaysCount" value="15" />
        
        <!-- Penalty Amount in Dhs after Default return days -->
        <add key="PenaltyAmount" value="5" />
        
        

      </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
</configuration>